body{
    background-image: url("/StaticSite_test/staticSite_test/static/img/lw.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

}

li{
    list-style:none;
    margin-top:0.5%;
    text-align:left;
    float:left;
    width:auto;
}

a{
    text-decoration: none;
}